body {
    background-color: #7887AB;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

p {
    box-sizing: border-box;
    max-width: 500px;
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

form {
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 50%;
}

form label, form select, form input {
    margin-bottom: 5px;
}

#super-heroes {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
    max-width: 500px;
    width: 50%;
}

#super-heroes > li {
    background-color: #D6DBE8;
    margin: 5px 0;
    height: 30px;
    align-items: center;
    border-radius: 2px;
    display: flex;
    padding-left: 5px;
    box-sizing: border-box;
}

#super-heroes > li > .delete-hero {
    margin-left: auto;
    background-color: red;
    height: 26px;
    width: 26px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
    margin-right: 2px;
    cursor: pointer;
}

#favorite {
    background-color: yellow !important;
}